<nav>
    <button>Sala 1</button>
    <button>Sala 2</button>
    <button>Sala 3</button>
</nav>
<section id="Messages">

</section>
<input id="inputMessage" type="text" placeholder="Escribe tu mensaje...">
<button id="btnSend">Send</button>



<script>
    console.log('Cargó la página del chat...');
    const username = sessionStorage.getItem('username');
    if(!username){
        alert('Debes ingresar tu nombre');
        window.location.href = '/';
    }
</script>

<script>
    
    let selectedSala = sessionStorage.getItem('sala');
    const salaButtons = document.querySelectorAll('nav button');
    const messagesDiv = document.querySelector('#Messages');
    const inputMensagge = document.getElementById('inputMessage');

    let connection = false;
	const socket = io({
        auth: {
            username: username
        }
    });
    
    if(!selectedSala){
        sessionStorage.setItem('sala', 'Sala 1');
        selectedSala = "Sala 1";
        socket.emit('joinSala', {sala: selectedSala});
    } else{
        socket.emit('joinSala', {sala: selectedSala});
    }
    salaButtons.forEach((btn, idx) => {
        btn.addEventListener('click', () => {
            sessionStorage.setItem('sala', `Sala ${idx + 1}`);
            const prevSala = selectedSala
            selectedSala = `Sala ${idx + 1}`;
            console.log('Sala seleccionada:', selectedSala);
            socket.emit('joinSala',{sala: selectedSala, prevSala: prevSala});
            messagesDiv.innerHTML = '';
        });
    });


    socket.on('confirmacion', () => {
        connection = true
        console.log('Conectado!');
    });


    document.querySelector('#btnSend').addEventListener('click', () => {
        if(connection){
            const message = inputMensagge.value;

            socket.emit('sendMessage', {message: message, sala: selectedSala});
            inputMensagge.value = '';

        } else {
            console.log('You need to be connected to send messages. Wait a few seconds...')
        }
    });

    socket.on('receiveMessage', (data) => {
        const msgElem = document.createElement('article');
        const msgText = document.createElement('p');
        const msgUser = document.createElement('h3');
        const msgDate = document.createElement('footer');

        //también viene con el username y fecha
        msgText.textContent = data.message;
        msgUser.textContent = data.username;
        msgDate.textContent = data.timestamp;
        msgElem.appendChild(msgUser);
        msgElem.appendChild(msgText);
        msgElem.appendChild(msgDate);
        if(data.username === username){
            msgElem.classList.add('my-message');
        }else{
            msgElem.classList.add('message')
        }
        messagesDiv.appendChild(msgElem);
    })

    socket.on('userJoined', (data) => {
        const notificationElem = document.createElement('article');
        notificationElem.textContent = `${data.username} entró a la sala`;
        messagesDiv.appendChild(notificationElem);
    });

    socket.on('userLeaved', (data) => {
        const notificationElem = document.createElement('article');
        notificationElem.textContent = `${data.username} salió de la sala`;
        messagesDiv.appendChild(notificationElem);
    });
</script>

